* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Silkscreen", cursive;
  /* moving gradient background colors */
  background: linear-gradient(-45deg, #383030, #bc6082, #56569a, #bebb98);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
}

/* moving gradient background animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-content {
  margin-top: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.buttons {
  margin: 10px;
}

.result {
  margin-top: 30px;
}

#cerc_result {
  border: 1px solid black;
  padding: 20px;
  width: 70vw;
  height: 40vh;
}

/* MEDIA QUERIES - TABLETS */

@media screen and (max-width: 1024px) {
  button {
    font-size: 20px;
  }
  h1 {
    font-size: 1.5rem;
  }
}

/*  MEDIA QUERIES - MOBILE PHONES  */

@media screen and (max-width: 600px) {
  button {
    font-size: 10px;
  }
  h1 {
    font-size: 1rem;
  }
}
