* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  background-color: rgb(202, 197, 197);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px;
}

.main-content > .header > h1 {
  font-size: 3rem;
}

.buttons {
  margin: 10px;
}

.buttons > button {
  font-size: 1rem;
}

#reading_lit2,
#reading_lit3,
#reading_lit4,
#reading_lit5,
#reading_lit6 {
  cursor: pointer;
  padding: 15px;
}

.result {
  margin-top: 30px;
}

#result_box {
  border: 2px solid black;
  padding: 20px;
  width: 70vw;
  height: 40vh;
  font-size: 1.75rem;
}

#store_button {
  font-size: 1rem;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
}

#store_box {
  border: 2px solid black;
  padding: 20px;
  width: 70vw;
  height: 40vh;
  font-size: 1.75rem;
}

.claim_color {
  color: black;
  background-color: rgba(54, 122, 59, 0.489);
}
.evidence_color {
  color: black;
  background-color: rgba(241, 241, 65, 0.831);
}
.reasoning_color {
  color: black;
  background-color: rgba(224, 142, 20, 0.887);
}
.conclusion_color {
  color: black;
  background-color: rgba(255, 0, 0, 0.732);
}

/* MEDIA QUERIES - TABLETS */

@media screen and (max-width: 1024px) {
}

/*  MEDIA QUERIES - MOBILE PHONES  */

@media screen and (max-width: 600px) {
}
